<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adele Noronha, Full-Stack Developer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap">
      
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap header">
          <h1>Adele Noronha</h1>
          <h2>Full-Stack Developer</h2>
          <div class="description">
            <img src="images/headshot2.jpeg" alt="face of Adele Noronha">
            <p>I'm a Full Stack Developer with a background in professional theatre. Web development has been a rewarding way to pivot my love for creative challenges, collaboration, detailed aesthetics and fantastic storytelling using thoughtful UX. I am eager to sharpen my code craft in collaboration with industry teams.
            Check out what tech I'm currently exploring on <a href="http://adeles_blog.com" target="_blank">my blog</a>
            </p>
          </div>
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>Featured Projects</h2>
          <p>View selected projects below. More information can be found at <a href="https://github.com/MrinalN">github.com/MrinalN</a>.</p>

          <!-- Project 1 -->
          <section class="project-item">
            <img src="images/search_browse.gif" alt="Rehearsal Room Final Project">
            <h3>| Rehearsal Room |</h3>
            <p>A React-based space sharing app that connects artists with physical based practices to available rooms in their community. Node.js, Express, PostgreSQL on the backend.</p>
            <p>Highlights: Material-UI, GoogleMaps and Cloudinary APIs, vertical teamwork, end-to-end feature development.</p>
            <a class="btn" href="https://github.com/MrinalN/rehearsal-room" target="_blank">Git Repo</a>
          </section>

          <!-- Project 2 -->
          <section class="project-item">
            <img src="images/BookingOpenBooked.png" alt="Scheduler">
            <h3>Scheduler</h3>
            <p>A single-page React booking app that allows users to customize appointments. Utilizes Webpack module bundler, Babel and testing platforms like Storybook, Jest and Cypress. Launched using Heroko, Circle Ci and Netlify.</p>
            <a class="btn" href="https://github.com/MrinalN/scheduler" target="_blank">Git Repo</a>
            <a class="btn" href="https://a-scheduler-lhl.netlify.app/">Live Site</a>
          </section>

          <!-- Project 3 -->
          <section class="project-item">
            <img src="images/jungle-cart-pay.gif" alt="Jungle">
            <h3>Jungle</h3>
            <p>A mini e-commerce application built for the purpose of learning Rails.</p>
            <p>Tech Stack: Ruby, Rails 4.2, PostgreSQL, Bootstrap and CSS/Sass.</p>
            <p>Testing Tools: RSpec, Capybara.</p>
            <p>Highlights: Stripe API use</p>
            <a class="btn" href="https://github.com/MrinalN/jungle-rails" target="_blank">Git Repo</a>
          </section>
        </div>  
      </section>

        <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
        <section class="education">
          <div class="content-wrap item-details divider">
            <h2>Education</h2>

            <section>
              <h3>Lighthouse Labs - Toronto, ON</h3>
              <p>Diploma in Web Development, 2021</p>
              <p>16 week full-time intenstive covering: </p>
              <li><b>CS Fundamentals:</b> <i>OOP, abstraction, recursion, algorithms.</i> </li>
              <li><b>Languages:</b> <i>Javascript, Ruby, HTML, CSS</i></li>
              <li><b>Frameworks/ Libraries: </b> <i>NodeJS, ReactJS, Express, WebSockets, JQuery</i></li>
              <li><b>DATABASES:</b> <i>PostgreSQL, SQL</i></li>
              <li><b>Tools and Testing:</b> <i>Storybook, Jest, Cypress, Mocha & Chai</i></li>
            </section>

            <section>
              <h3>Langara College - Studio 58 - Theatre Arts - Vancouver, BC</h3>
              <p>Nationally recognized professional theatre training conservatory</p>
            </section>
          </div>
        </section>
        
        <!-- ***************  WORK EXPERIENCE  ***************** -->
        <section class="work-experience">
          <div class="content-wrap item-details divider">
            <h2>Work Experience</h2>
            <p>A decade of freelancing makes for a rich resume. </p>
            <p>Happy to <a href="mailto:adele.c.noronha@gmail.com">connect</a> to share contract specifics.</p>

            <!-- Job 1 -->
            <section class="job-item">
              <div class="job-details">
                <h3>Theatre Artist</h3>
                <p>Freelance</p>
                <p>Dec 2011-Present</p>
              </div>
              <div class="job-summary">
                <p>
                  <li>Award-winning actor with experience in performing contemporary and   classical works for up to 800 seat houses.</li>
                  <li>Playwright with administrative experience in copywriting, grant writing and social media marketing.</li>
                  <li>Experience with production dramaturgy, curation, new play development workshops.</li>
                  <li>Prior contractors include: Bard on the Beach Shakespeare Festival, Arts Club Theatre, Touchstone Theatre, Neworld Theatre, Playwrights Theatre Center and various professional theatre companies in Vancouver. </li> 
                </p>
                <p>Check out an archival for my performance work at <a href="http://adele.noronha.com" target="_blank">www.adele.noronha.com</a></p>
              </div>
            </section>

            <!-- Job 2 -->
            <section class="job-item">
              <div class="job-details">
                <h3>Educator</h3>
                <p>Independent and Contracted</p>
                <p>July 2011 - May 2018</p>
              </div>
              <div class="job-summary">
                <p>
                  <li>Educator and facilitator for varied workshops with participants ranging from 5 to 90 years old.</li>
                  <li>Experience generating content from topics ranging from Collaborative Creation, Theatre, Shakespeare and Public Speaking. </li>
                  <li>Participant in training simulations for medical professionals, police and social workers. (UBC and Justice Institute of BC)</li>
                  <li>Prior contracts include: Bard Education (summer programs, high school and elementary classes, neighbourhood residencies), Hamilton Community Center, Morley Elementary After School Program.</li>
                  <li>Guest instructor/ speaker: Studio 58, Arts Club Creative Teens</li>
                </p>
              </div>
            </section>
          </div>  
      </section>

      <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>

          <!-- Social media and contact links. Add or remove any networks. -->
          <ul class="contact-list">
            <li><a href="mailto:adele.c.noronha@gmail.com">adele.c.noronha@gmail.com</a></li>
            <li><a href="http://mrinal.dev" target="_blank">mrinal.dev</a></li>
            <li><a href="https://www.linkedin.com/in/adele-n/" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>
</html>
